@font-face {
   font-family: 'Body&Soul Personal Use';
   font-display: swap;
   src: url('file:///C:/Users/gwood/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-07_113731/fonts/Body&Soul%20Personal%20Use/font.ttf');
}
